body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.user-info a {
    margin-left: 10px;
    text-decoration: none;
    color: #007bff;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: left;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #495057;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f1f1;
}
.add-rfp
{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: block;
}